<div class="page-header">
  <h1>
    {{taxcode.title}}
    <small>Taxcode</small>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <dl class="dl-horizontal">
      <dt>Title:</dt>
      <dd>{{taxcode.title}}</dd>

      <dt>Effective at:</dt>
      <dd>{{taxcode.effectiveAt}}</dd>

      <dt>Expired at:</dt>
      <dd>{{taxcode.expiredAt}}</dd>
    </dl>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <button class="btn btn-sm btn-default">Check Syntax</button>
      <!--<div class="btn-group" role="group" aria-label="...">Check Syntax</div>-->
      <!--<div class="btn-group" role="group" aria-label="...">Play a scenario</div>-->
      <!--<div class="btn-group" role="group" aria-label="...">...</div>-->
    </div>
  </div>
  <div class="col-xs-12 col-sm-5">
    <code>
      {{taxcode.body}}
    </code>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Scenarios</h3>
      </div>
      <div class="list-group">
        <div class="list-group-item" *ngFor="let scenario of scenarios">
          {{scenario.description}}

          <button class="btn btn-xs btn-primary pull-right" (click)="playScenario(scenario.id)">Play</button>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="currentScenario">
      <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
      </div>
      <div class="panel-body">
        {{senarioResult}}
      </div>
    </div>
  </div>
</div>